.dashboard {
  border-collapse: collapse;
  border: solid 2px grey;
  margin-bottom: 10px;
  height: "100%";
}

th {
  background-color: green;
  color: white;
  font-weight: 600;
  border: solid 2px grey;
  font-size: 32px;
}

td {
  border: solid 2px grey;
  padding: 5px 8px;
  font-size: 24px;
}